<!--<ol>-->
<!--  <li>-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>What's your name?</mat-label>-->
<!--      <input matInput [(ngModel)]="name">-->
<!--    </mat-form-field>-->
<!--  </li>-->
<!--  <li>-->
<!--    <button mat-raised-button (click)="openDialog()">Pick one</button>-->
<!--  </li>-->
<!--  <li *ngIf="animal">-->
<!--    You chose: <i>{{animal}}</i>-->
<!--  </li>-->
<!--</ol>-->
<div class="form-container">
  <form [formGroup]="createIngredientForm" class="form-container">
    <div class="input-group mb-3">
      <input class="form-control" placeholder="Ingredient" formControlName="name">
      <div class="alert-danger" *ngIf="createIngredientForm.controls['name'].invalid && createIngredientForm.controls['name'].touched">
        Ingredient not listed
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="save()">
        Save
      </button>
    </div>
  </form>

</div>

